<div class="container">
  <h2>Event Registration Status</h2>
  
  <form [formGroup]="formModel" (ngSubmit)="searchEvent()">
    <div class="search-section">
      <label for="studentId">Student ID</label>
      <input type="text" id="studentId" formControlName="searchTerm" class="form-control">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div *ngIf="eventObj" class="booking-info">
    <h3>Booking Information</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Sr#</th>
          <th>Status</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventObj; ">
          <td>{{ event.id }}</td>
          <td>{{ event.status }}</td>
          <td>
            <div>Description: {{ event.event.description }}</div>
            <div>Materials: {{ event.event.materials }}</div>
            <div>Name: {{ event.event.name }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showMessage" class="alert alert-success mt-3">
    {{ responseMessage }}
  </div>
  
  <div *ngIf="showError" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>