<div class="container">
  <h2>Event Registration Status</h2>
  
  <div class="booking-info">
    <table class="table" *ngIf="eventObj && eventObj.length > 0">
      <thead>
        <tr>
          <th>Sr#</th>
          <th>Status</th>
          <th>Event</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventObj; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ event.status }}</td>
          <td>
            <div>Description: {{ event.event.description }}</div>
            <div>Materials: {{ event.event.materials }}</div>
            <div>Name: {{ event.event.name }}</div>
            <!-- <div>Date: {{ event.event.date | date: 'dd-MM-yyyy' }}</div> -->
          </td>
          <td> {{ event.event.date | date: 'dd-MM-yyyy' }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!eventObj || eventObj.length === 0">No registered events found.</p>
  </div>
  
  <div *ngIf="showMessage" class="alert alert-success mt-3">
    {{ responseMessage }}
  </div>
  
  <div *ngIf="showError" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>