// .container-fluid {
//   padding: 20px;
//  // background-image: url(../../assets/create.jpeg);
// }
// .container-body {
//   // background-image: url('../../assets/logo.png');
//   background-size: cover; /* Adjusts the image to cover the entire container */
//   background-position: center; /* Centers the image */
// }

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #00796b;
}

.card {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.card-header {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #00acc1;
}

.card-body {
  padding: 20px;
}

.input-group .form-control {
  border-radius: 0;
}

.btn-outline-secondary {
  border-radius: 0;
}

.table-responsive {
  margin-top: 20px;
}

.table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #b3e5fc;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.4s;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  font-size: 0.85rem;
}

.table thead th {
  background-color: #81d4fa;
  color: white;
}

.table tbody tr:nth-child(odd) {
  background-color: rgba(242, 248, 251, 0.8);
}

.alert {
  margin-top: 20px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.6s;
}

.alert-info {
  color: #ffffff;
  background-color: #e47e7e;
  border-color: #81c784;
}

.pagination {
  margin-top: 20px;
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
