<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" class="nav-link" style="color: aliceblue;">
                Educational Event Management
                </li>

            <li class="nav-item">
                <a class="nav-link" *ngIf="roleName === 'INSTITUTION'" [routerLink]="['/create-event']">Create Event
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="roleName === 'INSTITUTION'" [routerLink]="['/add-resource']">Add Resource
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="roleName === 'INSTITUTION'" [routerLink]="['/resource-allocate']">Resource Allocate
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="roleName === 'EDUCATOR'" [routerLink]="['/view-events']">View Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="roleName === 'STUDENT'" [routerLink]="['/register-for-event']">Register for events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="roleName === 'STUDENT'" [routerLink]="['/booking-details']">View Booking Status</a>
            </li>
        </ul>

        <!-- Login/Logout buttons -->
        <ul class="navbar-nav">
            <li *ngIf="!IsLoggin" class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="IsLoggin" class="nav-item">
                <a class="nav-link" (click)="logout()" [routerLink]="['/login']">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="container mt-4 mx-5">
        <router-outlet>
        </router-outlet>
    </div>

</body>