<div class="registration-container">
  <h2>EDUCATIONAL EVENT MANAGEMENT SYSTEM</h2>
  <p>Please enter your details here</p>

  <form [formGroup]="itemForm" (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
      <div *ngIf="itemForm.get('username')?.touched && itemForm.get('username')?.errors?.['required']"
        class="error-message">
        Username is required.
      </div>
      <div *ngIf="itemForm.get('username')?.errors?.['notUnique']" class="error-message">
        User already exists.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="name@example.com">
      <div *ngIf="itemForm.get('email')?.touched && itemForm.get('email')?.invalid" class="error-message">
        <div *ngIf="itemForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="itemForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password">
      <!-- <div *ngIf="itemForm.controls['password']?.touched " class="error-message">
        Password is required.
      </div>
      <div *ngIf="itemForm.controls['password'].invalid && itemForm.controls['password'].touched" class="error-message">
        Password must be in required format.
      </div> -->
      <div *ngIf="itemForm.get('password')?.touched && itemForm.get('password')?.invalid" class="error-message">
        <div *ngIf="itemForm.get('password')?.errors?.['required']">Password is required.</div>
        <div *ngIf="itemForm.controls['password'].invalid && itemForm.controls['password'].touched">Password must be in
          this format : atleast 1 uppercase, atleast 1 lowercase , atleast 1 special character, minimum 8 characters.
        </div>


      </div>
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select id="role" formControlName="role" class="form-control">
        <option value="" disabled selected>Choose Role</option>
        <option value="STUDENT">Student</option>
        <option value="INSTITUTION">Institution</option>
        <option value="EDUCATOR">Educator</option>
      </select>
      <div *ngIf="itemForm.get('role')?.touched && itemForm.get('role')?.invalid" class="error-message">
        Role is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!itemForm.valid">Submit</button>
  </form>

  <div *ngIf="showMessage" class="alert alert-success">
    {{ responseMessage }}
  </div>

  <div class="login-link">
    <a [routerLink]="['/login']">Go to Login</a>
  </div>
</div>