<div class="container">
  <h2>Registration for event</h2>{{id}}

  <form [formGroup]="formModel" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="eventId">Event ID</label>
      <select id="eventId" formControlName="eventId" class="form-control">
        <option value="">Choose an event</option>
        <option *ngFor="let event of eventList" [value]="event.id">
          {{event.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="studentId">Student ID</label>
      <input type="text" id="studentId" formControlName="studentId" class="form-control">

    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>

  <div *ngIf="showError" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div *ngIf="showMessage" class="alert alert-success mt-3">
    {{ responseMessage }}
  </div>
</div>