<body>
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col">
        <h4 class="text-capitalize">Welcome to Grow</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div *ngIf="role === 'INSTITUTION'" class="text-center">
          <h4 >You are logged in as Institution</h4>
          <div class="image-row">
            <div class="image-container">
              <img src="assets/create.jpeg" alt="Image 1">
              <button class="btn" [routerLink]="['/create-event']">Create Event</button>
            </div>
            <div class="image-container">
              <img src="assets/resource.jpg" alt="Image 2">
              <button class="btn" [routerLink]="['/add-resource']">Add Resource</button>
            </div>
            <div class="image-container">
              <img src="assets/allocate.jpg" alt="Image 3">
              <button class="btn" [routerLink]="['/resource-allocate']">Allocate Resources</button>
            </div>
          </div>
        </div>
        <div *ngIf="role === 'EDUCATOR'" class="alert text-center">
          <h4>You are logged in as Educator</h4>
          <div class="image-row">
            <div class="image-container">
              <img src="../../assets/update.png" alt="Image 1">
              <button class="btn" [routerLink]="['/view-events']">Update Event</button>
            </div>
            <div class="image-container">
              <img src="../../assets/register.jpg" alt="Image 1">
              <button class="btn" [routerLink]="['/register-for-event']">View Registrations</button>
            </div>
          </div>
        </div>
        <div *ngIf="role === 'STUDENT'" class=" text-center">
          <h4>You are logged in as Student</h4>
          <div class="image-row">
            <div class="image-container">
              <img src="../../assets/register.jpg" alt="Image 1">
              <button class="btn" [routerLink]="['/register-for-event']">Register for Events</button>
            </div>
            <div class="image-container">
              <img src="assets/resource.jpg" alt="Image 2">
              <button class="btn" [routerLink]="['/booking-details']">Registration Status</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</body>