.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5%;
  
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
 
.table-responsive {
  overflow-x: auto;
}
 
.table td,
.table th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
 
.text-break {
  word-break: break-word;
}
 
@media screen and (max-width: 768px) {
  .table td,
  .table th {
    max-width: 150px;
  }
}
 
.card {
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
 
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
 
.card-body {
  padding: 1.25rem;
}
 
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
 
.form-group {
  margin-bottom: 1rem;
  padding-right: 5px;
  padding-left: 5px;
}
 
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
 
.text-danger {
  color: #dc3545;
}
 
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
 
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
 
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.container1 {
  max-width: 1000px;
  margin: 5% auto; /* Center the container and add top margin */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  margin-top: 5%;
}