
<div class="container-fluid resource-allocate-container">
  <h2 class="my-4">Allocate Resource to Event</h2>
 
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="eventId">Select Event</label>
      <div class="custom-dropdown">
        <button type="button" class="btn btn-outline-primary w-100 text-start" (click)="toggleEventDropdown()">
          {{ itemForm.get('eventId')?.value ? (getEventName(itemForm.get('eventId')?.value) || 'Choose an event') :
          'Choose an event' }}
        </button>
        <div class="dropdown-menu" [class.show]="showEventDropdown">
          <div class="dropdown-item" *ngFor="let event of eventList" (click)="selectEvent(event)">
            {{ event.name }}
          </div>
        </div>
      </div>
      <div *ngIf="itemForm.get('eventId')?.invalid && itemForm.get('eventId')?.touched" class="text-danger">
        Event selection is required.
      </div>
    </div>
 
    <div class="form-group mt-3">
      <label for="resourceId">Select Resource</label>
      <div class="custom-dropdown">
        <button type="button" class="btn btn-outline-primary w-100 text-start" (click)="toggleResourceDropdown()">
          {{ itemForm.get('resourceId')?.value ? (getResourceName(itemForm.get('resourceId')?.value) || 'Choose a
          resource') : 'Choose a resource' }}
        </button>
        <div class="dropdown-menu" [class.show]="showResourceDropdown">
          <div class="dropdown-item" *ngFor="let resource of resourceList" (click)="selectResource(resource)">
            {{ resource.id }} - {{resource.resourceType}}
          </div>
        </div>
      </div>
      <div *ngIf="itemForm.get('resourceId')?.invalid && itemForm.get('resourceId')?.touched" class="text-danger">
        Resource selection is required.
      </div>
    </div>
 
    <button type="submit" [disabled]="!itemForm.valid" class="btn btn-primary mt-3">Allocate Resource</button>
  </form>
 
  <div *ngIf="showMessage" class="alert alert-success mt-3">
    {{ responseMessage }}
  </div>
 
  <div *ngIf="showError" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
 

 